<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery.slim.js"></script>
    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <a href="~/lib/jquery/jquery.min.map">~/lib/jquery/jquery.min.map</a>
    <a href="~/lib/jquery/jquery.slim.min.map">~/lib/jquery/jquery.slim.min.map</a>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <a href="~/lib/twitter-bootstrap/css/bootstrap.css.map">~/lib/twitter-bootstrap/css/bootstrap.css.map</a>
    <a href="~/lib/twitter-bootstrap/css/bootstrap.min.css.map">~/lib/twitter-bootstrap/css/bootstrap.min.css.map</a>
    <a href="~/lib/twitter-bootstrap/css/bootstrap.rtl.css.map">~/lib/twitter-bootstrap/css/bootstrap.rtl.css.map</a>
    <a href="~/lib/twitter-bootstrap/css/bootstrap.rtl.min.css.map">~/lib/twitter-bootstrap/css/bootstrap.rtl.min.css.map</a>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
